astralsorcery
backups
crash-reports
downloads
dumps
gui
journeymap
library
local
logs
mods
patchouli_books
resourcepacks
saves
screenshots
server-resource-packs
snapshots-server

.json
.png
.txt
.log
.dat
.nbt